{% extends "admin/login.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
  <!-- Camada branca translúcida no fundo -->
  <!-- <div class="background-overlay"></div> -->
  <!-- Removida propositalmente para não desbotar o wallpaper -->

  <!-- Caixa de login padrão do Django Admin -->
  {{ block.super }}

  <!-- Link opcional para recuperação de senha -->
  <!--
  <div style="text-align: center; margin-top: 10px;">
    <a href="{% url 'admin_password_reset' %}" style="font-size: 0.9em;">🔒 Esqueceu sua senha ou nome de usuário?</a>
  </div>
  -->
{% endblock %}
