{% extends "admin/login.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        /* Oculta a logo global do Jazzmin apenas nesta página */
        .logo-switch {
            display: none !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="login-logo">
        <img src="{% static 'img/logologin.png' %}" alt="Campo Inteligente Logo">
    </div>
    {{ block.super }}
{% endblock %}
