{% extends "admin/login.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
  <!--<div style="text-align: center; margin-top: 20px;">
	<img src="{% static 'img/logo3.png' %}" alt="Logo Campo Inteligente" width="200">
  </div>/-->
  {{ block.super }} 
  <!-- <div style="text-align: center; margin-top: 10px;">
    <a href="{% url 'admin_password_reset' %}" style="font-size: 0.9em;">🔒 Esqueceu sua senha ou nome de usuário?</a>
  </div> /-->
{% endblock %} 

