/*
  Estilos para a página de login customizada
*/
body.login {
    background-image: url('/static/img/fundologin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* A linha 'display: none' foi removida daqui */
}

#header {
    display: none; /* Esconde o cabeçalho padrão do Django */
}

.login #container {
    background: rgba(255, 255, 255, 0.9); /* Fundo do formulário branco e semi-transparente */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login #content {
    padding: 20px 40px;
}

/* Centraliza e estiliza o logo */
.login-logo {
    text-align: center;
    padding: 20px 0;
}

.login-logo img {
    max-width: 250px;
    height: auto;
}

/* Estiliza o botão de login */
.login .submit-row input[type="submit"] {
    width: 100%;
    background-color: #004809; /* Cor verde da sua marca */
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.login .submit-row input[type="submit"]:hover {
    background-color: #003306; /* Verde mais escuro no hover */
}

/* Link "Esqueceu a senha?" */
.login .password-reset-link {
    text-align: center;
    margin-top: 15px;
}

/* Esconde o logo padrão do Jazzmin no login */
.login .logo-switch,
.login .brand-link {
    display: none !important;
}